<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>
      Unity Advertising | Contact
    </title>

    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/style-color-red.css" rel="stylesheet" />
    <link
      rel="shortcut icon"
      href="/images/favicon-red.png"
      type="image/x-icon"
    />
    <link rel="icon" href="/images/favicon-red.png" type="image/x-icon" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
  </head>
  <body>
    <div class="page-wrapper">
      <div class="preloader-advertising"></div>

      <%- include('./partials/header.ejs') %>

      <section
        class="page-title1"
        style="background-image: url(/images/background/page-title.jpg)"
      >
        <div class="auto-container">
          <div class="title-outer">
            <h1 class="title">Contact Us</h1>
            <ul class="page-breadcrumb">
              <li><a href="/advertising">Home</a></li>
              <li>Contact</li>
            </ul>
          </div>
        </div>
      </section>

      <section class="contact-details">
        <div class="container">
          <div class="row">
            <div class="col-xl-7 col-lg-6">
              <div class="sec-title">
                <span class="sub-title">Send us email</span>
                <h2>Feel free to write</h2>
              </div>

              <form
                id="contact_form_advertising"
                name="contact_form"
                method="post"
              >
                <div class="row">
                  <div class="col-sm-6">
                    <div class="mb-3">
                      <input
                        name="form_name"
                        class="form-control"
                        type="text"
                        placeholder="Enter Name"
                      />
                      <div class="error-message" style="color: red"></div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="mb-3">
                      <input
                        name="form_email"
                        class="form-control required email"
                        type="email"
                        placeholder="Enter Email"
                      />
                      <div class="error-message" style="color: red"></div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="mb-3">
                      <input
                        name="form_subject"
                        class="form-control required"
                        type="text"
                        placeholder="Enter Subject"
                      />
                      <div class="error-message" style="color: red"></div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="mb-3">
                      <input
                        name="form_phone"
                        class="form-control"
                        type="text"
                        placeholder="Enter Phone"
                      />
                      <div class="error-message" style="color: red"></div>
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <textarea
                    name="form_message"
                    class="form-control required"
                    rows="7"
                    placeholder="Enter Message"
                  ></textarea>
                  <div class="error-message" style="color: red"></div>
                </div>
                <div class="mb-3">
                  <input
                    name="form_botcheck"
                    class="form-control"
                    type="hidden"
                    value
                  />
                  <!-- <div id="form-result" class="alert alert-success" role="alert" style="display: none;"></div> -->
                  <button
                    type="submit"
                    id="submit"
                    class="theme-btn btn-style-one"
                  >
                    <span class="btn-title">Send message</span>
                  </button>
                  <button type="reset" class="theme-btn btn-style-one">
                    <span class="btn-title">Reset</span>
                  </button>
                </div>
              </form>
            </div>
            <div class="col-xl-5 col-lg-6">
              <div class="contact-details__right">
                <div class="sec-title">
                  <span class="sub-title">Need any help?</span>
                  <h2>Get in touch with us</h2>
                  <div class="text">
                    We’re always here to assist you! If you have any questions, inquiries, or need support, please feel free to reach out.
                  </div>
                </div>
                <ul class="list-unstyled contact-details__info">
                  <li>
                    <div class="icon">
                      <span class="lnr-icon-phone-plus"></span>
                    </div>
                    <div class="text">
                      <h6>Have any question?</h6>
                      <a href="tel:+971527504631"
                        ><span>Free</span> +971 527 504 631</a
                      >
                    </div>
                  </li>
                  <li>
                    <div class="icon">
                      <span class="lnr-icon-envelope1"></span>
                    </div>
                    <div class="text">
                      <h6>Write email</h6>
                      <a
                      href="mailto:info@unity-uae.com"
                        ><span
                          class="__cf_email__"
                          >info@unity-uae.com</span
                        ></a
                      >
                    </div>
                  </li>
                  <li>
                    <div class="icon">
                      <span class="lnr-icon-location"></span>
                    </div>
                    <div class="text">
                      <h6>Visit anytime</h6>
                      <span>Falcon Tower, Abu Dhabi, UAE</span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="container-fluid p-0">
          <div class="row">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3631.0315671132935!2d54.352120310859945!3d24.4843630780857!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5e673585d0d639%3A0xfeb3a577b1a77a9!2sFalcon%20tower!5e0!3m2!1sen!2sae!4v1726906293767!5m2!1sen!2sae" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

          </div>
        </div>
      </section>

      <%- include('./partials/footer.ejs') %>
    </div>

    <div class="scroll-to-top scroll-to-target" data-target="html">
      <span class="fa fa-angle-up"></span>
    </div>
    <script
      data-cfasync="false"
      src="/../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
    ></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.fancybox.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/wow.js"></script>
    <script src="/js/appear.js"></script>
    <script src="/js/select2.min.js"></script>
    <script src="/js/swiper.min.js"></script>
    <script src="/js/owl.js"></script>
    <script src="/js/script.js"></script>

    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.form.min.js"></script>
    <script>
      document
        .getElementById("contact_form_advertising")
        .addEventListener("submit", function (event) {
          event.preventDefault(); // Prevent the default form submission

          // Clear previous error messages
          document.querySelectorAll(".error-message").forEach(function (el) {
            el.textContent = "";
          });

          //for showing contact form message
          let form_btn = $("#contact_form_advertising").find(
            'button[type="submit"]'
          );
          let form_result_div = "#form-result";
          $(form_result_div).remove();
          form_btn.before(
            '<div id="form-result" class="alert alert-success" role="alert" style="display: none;"></div>'
          );
          let form_btn_old_msg = form_btn.html();
          // form_btn.html(form_btn.prop("disabled", true).data("loading-text"));

          form_btn.prop("disabled", true).html("Please wait...");

          let isValid = true;

          // Get form values
          const name = document
            .querySelector('input[name="form_name"]')
            .value.trim();
          const email = document
            .querySelector('input[name="form_email"]')
            .value.trim();
          const phone = document
            .querySelector('input[name="form_phone"]')
            .value.trim();
          const subject = document
            .querySelector('input[name="form_subject"]')
            .value.trim();
          const message = document
            .querySelector('textarea[name="form_message"]')
            .value.trim();

          // Validate the form fields
          if (!name) {
            showError('input[name="form_name"]', "Name is required.");
            isValid = false;
          }

          if (!email) {
            showError('input[name="form_email"]', "Email is required.");
            isValid = false;
          } else if (!validateEmail(email)) {
            showError(
              'input[name="form_email"]',
              "Please enter a valid email address."
            );
            isValid = false;
          }

          if (!validatePhone(phone)) {
            showError(
              'input[name="form_phone"]',
              "Please enter a valid phone number."
            );
            isValid = false;
          }

          if (!subject) {
            showError('input[name="form_subject"]', "Subject is required.");
            isValid = false;
          }

          if (!message) {
            showError('textarea[name="form_message"]', "Message is required.");
            isValid = false;
          }

          // If form is valid, submit the data
          if (isValid) {
            const formData = {
              name: name,
              email: email,
              phone: phone,
              subject: subject,
              message: message,
            };

            fetch("/advertising/contact", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify(formData),
            })
              .then((response) => response.json())
              .then((data) => {
                if (data.status) {
                  document.getElementById("contact_form_advertising").reset(); // Reset the form
                  form_btn.prop("disabled", false).html(form_btn_old_msg);
                  $(form_result_div).html(data.message).fadeIn("slow");
                  setTimeout(function () {
                    $(form_result_div).fadeOut("slow");
                  }, 5000);
                } else {
                  document.getElementById("contact_form_advertising").reset(); // Reset the form
                  form_btn.prop("disabled", false).html(form_btn_old_msg);
                  $(form_result_div)
                    .html(`<span style="color: red;">${data.message}</span>`)
                    .fadeIn("slow");
                  setTimeout(function () {
                    $(form_result_div).fadeOut("slow");
                  }, 5000);
                }
              })
              .catch((error) => {
                console.error("Error:", error);
                document.getElementById("contact_form_advertising").reset(); // Reset the form
                form_btn.prop("disabled", false).html(form_btn_old_msg);
                $(form_result_div)
                  .html(
                    `<span style="color: red;">There was an error sending your message. Please try again.</span>`
                  )
                  .fadeIn("slow");
                setTimeout(function () {
                  $(form_result_div).fadeOut("slow");
                }, 5000);
              });
          } else {
            form_btn.prop("disabled", false).html("Send Message");
          }
        });

      function showError(selector, message) {
        const inputElement = document.querySelector(selector);
        const errorElement = inputElement.nextElementSibling;
        if (errorElement && errorElement.classList.contains("error-message")) {
          errorElement.textContent = message;
        }
        // Add event listener to clear the error message on input change
        inputElement.addEventListener("input", function () {
          errorElement.textContent = "";
        });
      }

      function validateEmail(email) {
        const re = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        return re.test(String(email).toLowerCase());
      }

      function validatePhone(phone) {
        if (!phone) {
          return true; // Phone is optional, so return true if it's empty
        }

        const re = /^[0-9]{9,12}$/; // Regex pattern for 9 to 12 digits
        return re.test(String(phone));
      }
    </script>
  </body>
</html>
