

    <!-- Preloader -->
    <!-- <div class="preloader">
        <div class="cws_loader">
            <span>LOADING...</span>
            <div class="hex"></div>
            <div class="hex"></div>
            <div class="hex"></div>
            <div class="hex"></div>
            <div class="hex"></div>
            <div class="hex"></div>
            <div class="hex"></div>
        </div>
    </div> -->
    
    <!-- Main Header-->
    <header class="main-header">
        <!-- Main box -->
        <div class="main-box">
            <div class="menu-box">
                <div class="logo"><a href="/">
                    <h1 style="font-family: 'Arial', sans-serif; font-size: 30px;font-weight: 30px; margin: 0; color: white;">AutoHoms</h1>
                    <!-- <img src="/Public/user/images/logo.png" alt="" title="" srcset="/Public/user/images/logo-white-big.png 2x"> -->
                </a>
                </div>

                <!--Nav Box-->
                <div class="nav-outer">
                    <!-- Main Menu -->
                    <nav class="main-menu navbar-expand-md navbar-light">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navigation clearfix">
                                <li><a href="/">Home</a></li>

                             
                                <li class="dropdown">
                                    <a ><span>Services</span></a>
                                    <ul>
                                        <li><a href="/service?name=Gate Automation">Gate Automation</a></li>
                                        <li><a href="/service?name=Lighting Control">Lighting Control</a></li>
                                        <li><a href="/service?name=Home Wifi">Home Wifi </a></li>
                                        
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="/product"><span>Products</span></a>
                                    <ul>
                                        <li><a href="/product?category=Gate Automation">Gate Automation</a></li>
                                        <li><a href="/product?category=Lighting Control">Lighting Control</a></li>
                                        <li><a href="/product?category=Home Wifi">Home Wifi </a></li>
                                    </ul>
                                </li>
                          
                           
                                <li><a href="/contact">Contacts</a></li>
                            </ul>
                        </div>
                    </nav>
                    <!-- Main Menu End-->
                    <div class="outer-box clearfix">
                       

                        <!-- Shoppping Car -->
                        <div class="cart-btn" id="">
                            <a href="/cart"><i class="icon flaticon-shopping-cart-empty-side-view"></i>
                                <% if(cartCount!=null){ %>
                                 <span class="count" id="cart-count"> <%=cartCount %></span>
                                 <% } %>
                                 <% if(cartCount==null){ %>
                                    <span class="count" id="cart-count">0</span>
                                    <% } %>
                                </a>

                        </div>
                    </div>
                  
                </div>
            </div>
        </div>

        <!-- Sticky Header  -->
        <div class="sticky-header">
            <div class="outer-box">
                <!--Logo-->
                <div class="logo">
                    <a href="/" title="Sticky Logo">
                        <h1 style="font-family: 'Arial', sans-serif; font-size: 30px;font-weight: 30px; margin: 0; color: black;">AutoHoms</h1>
                        <!-- <img src="/Public/user/images/sticky-logo.png" alt="Sticky Logo"> -->
                    </a>
                </div>

                <!--Nav Outer-->
                <div class="nav-outer">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <!--Keep This Empty / Menu will come through Javascript-->
                    </nav><!-- Main Menu End-->
                </div>
            </div>
        </div><!-- End Sticky Menu -->

        <!-- Mobile Header -->
        <div class="mobile-header">
            <div class="logo"><a href=""><img src="/Public/user/images/logo.png" alt="" title="" ></a></div>

            <!--Nav Box-->
            <div class="nav-outer clearfix">
                <!--Keep This Empty / Menu will come through Javascript-->
            </div>
        </div>

        <!-- Mobile Menu  -->
        <div class="mobile-menu">            
            <nav class="menu-box">
                <div class="nav-logo"><a href="index-2.html"><img src="/Public/user/images/logo.png" alt="" title="" ></a></div> 
                <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
            </nav>
        </div><!-- End Mobile Menu -->

        <!-- Header Search -->
        <div class="search-popup">
            <span class="search-back-drop"></span>
            
            <div class="search-inner">
                <button class="close-search"><span class="fa fa-times"></span></button>
                <form method="post" action="">
                    <div class="form-group">
                        <input type="search" name="search-field" value="" placeholder="Search..." required="">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>
        </div>
        <!-- End Header Search -->

    </header>
    <!--End Main Header -->

    <a href="https://api.whatsapp.com/send?phone=7736600289" class="whatsapp-link">
        <img src="/Public/user/images/WhatsApp.jpeg" alt="WhatsApp" class="whatsapp-icon">
      </a>