<!DOCTYPE html>
<html lang="en">
  <!-- Mirrored from html.kodesolution.com/2024/sotech-html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 23 Jun 2024 11:03:32 GMT -->
  <head>
    <meta charset="utf-8" />
    <title>
      Sotech | IT Solutions & Technology HTML Template | Home Page 01
    </title>

    <link href="public/css/bootstrap.min.css" rel="stylesheet" />
    <link
      href="public/plugins/revolution/css/settings.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="public/plugins/revolution/css/layers.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="public/plugins/revolution/css/navigation.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="public/css/style.css" rel="stylesheet" />
    <link
      rel="shortcut icon"
      href="public/images/favicon.png"
      type="image/x-icon"
    />
    <link rel="icon" href="public/images/favicon.png" type="image/x-icon" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <!--[if lt IE 9]><script src="public/js/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="public/js/respond.js"></script><![endif]-->
  </head>
  <body>
    <div class="page-wrapper">
      <div class="preloader"></div>

      <section class="services-section-seven">
        <div class="auto-container">
          <div class="sec-title light text-center">
            <span class="sub-title">WHAT WE OFFERING</span>
            <h2>We offer premium services <br />Exclusively for you.</h2>
          </div>
          <div class="row justify-content-center">
            <div
              class="service-block-seven dark col-xl-3 col-lg-3 col-md-4 col-sm-6 wow fadeInUp"
            >
              <a href="/technology">
                <div class="inner-box">
                  <div class="icon-box">
                    <i class="icon flaticon-business-010-startup"></i>
                  </div>
                  <h4 class="title">Unity Technologies</h4>
                  <div class="text">
                    Your one-stop IT powerhouse. We supercharge businesses with
                    cutting-edge laptop solutions and expert network
                    administration.
                  </div>
                </div>
              </a>
            </div>

            <div
              class="service-block-seven dark col-xl-3 col-lg-3 col-md-4 col-sm-6 wow fadeInUp"
            >
              <a href="/advertising">
                <div class="inner-box">
                  <div class="icon-box">
                    <i class="icon flaticon-business-054-graph"></i>
                  </div>
                  <h4 class="title">Unity Advertising</h4>
                  <div class="text">
                    An entrepreneurial venture in the UAE offering a range of
                    advertising services including print collaterals, branded
                    merchandise, and promotional materials.
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="scroll-to-top scroll-to-target" data-target="html">
      <span class="fa fa-angle-up"></span>
    </div>
    <!-- <script data-cfasync="false" src="public/../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script> -->
    <script src="public/js/jquery.js"></script>
    <script src="public/js/popper.min.js"></script>

    <script src="public/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="public/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="public/plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="public/plugins/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="public/plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="public/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="public/plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="public/plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="public/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="public/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="public/plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script src="public/js/main-slider-script.js"></script>

    <script src="public/js/bootstrap.min.js"></script>
    <script src="public/js/jquery.fancybox.js"></script>
    <script src="public/js/jquery-ui.js"></script>
    <script src="public/js/wow.js"></script>
    <script src="public/js/appear.js"></script>
    <script src="public/js/select2.min.js"></script>
    <script src="public/js/swiper.min.js"></script>
    <script src="public/js/owl.js"></script>
    <script src="public/js/script.js"></script>
  </body>

  <!-- Mirrored from html.kodesolution.com/2024/sotech-html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 23 Jun 2024 11:04:04 GMT -->
</html>
