<footer class="main-footer">
    <div class="bg-image" style="background-image: url(images/background/8-red.png)"></div>
    
    <div class="widgets-section">
    <div class="auto-container">
    <div class="row">
    
    <div class="footer-column col-xl-3 col-lg-12 col-md-6 col-sm-12">
    <div class="footer-widget about-widget">
    <div class="logo"><a href="/advertising"><img class="nav-logo" src="/images/unity-advertising-logo.png" alt></a></div>
    <div class="text">Unity is a venture by passionate young entrepreneurs with over a decade of experience in India, UAE, and African countries.</div>
    <ul class="social-icon-two">
    <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li> -->
    <li><a href="https://www.facebook.com/share/mqqDSXtDZs49PLcF/?mibextid=LQQJ4d"><i class="fab fa-facebook"></i></a></li>
    <!-- <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
    <li><a href="#"><i class="fab fa-instagram"></i></a></li> -->
    </ul>
    </div>
    </div>
    
    <div class="footer-column col-xl-3 col-lg-4 col-md-6 col-sm-12">
    <div class="footer-widget">
    <h3 class="widget-title">Explore</h3>
    <ul class="user-links">
    <li><a href="/advertising/about">About Company</a></li>
    <!-- <li><a href="#">Meet the Team</a></li>
    <li><a href="#">News & Media</a></li>
    <li><a href="#">Our Projects</a></li> -->
    <li><a href="/advertising/contact">Contact</a></li>
    </ul>
    </div>
    </div>
    
    <div class="footer-column col-xl-3 col-lg-4 col-md-6 col-sm-12">
    <div class="footer-widget contact-widget">
    <h3 class="widget-title">Contact</h3>
    <div class="widget-content">
    <div class="text"> Falcon Tower,Hamdan Street, Abu Dhabi, UAE</div>
    <ul class="contact-info">
    <li><i class="fa fa-envelope"></i> <a href="mailto:info@unity-uae.com"><span class="__cf_email__">info@unity-uae.com</span></a><br></li>
    <li><i class="fa fa-phone-square"></i> <a href="tel:+971527504631">+971 527 504 631</a><br></li>
    </ul>
    </div>
    </div>
    </div>
    
    <!-- <div class="footer-column col-xl-3 col-lg-4 col-md-6 col-sm-12">
    <div class="footer-widget gallery-widget">
    <h3 class="widget-title">Gallery</h3>
    <div class="widget-content">
    <div class="outer clearfix">
    <figure class="image">
    <a href="#"><img src="images/resource/project-thumb-1.jpg" alt></a>
    </figure>
    <figure class="image">
    <a href="#"><img src="images/resource/project-thumb-2.jpg" alt></a>
    </figure>
    <figure class="image">
    <a href="#"><img src="images/resource/project-thumb-3.jpg" alt></a>
    </figure>
    <figure class="image">
    <a href="#"><img src="images/resource/project-thumb-4.jpg" alt></a>
    </figure>
    <figure class="image">
    <a href="#"><img src="images/resource/project-thumb-5.jpg" alt></a>
    </figure>
    <figure class="image">
    <a href="#"><img src="images/resource/project-thumb-6.jpg" alt></a>
    </figure>
    </div>
    </div>
    </div>
    </div> -->

    </div>
    </div>
    </div>
    
    <div class="footer-bottom">
    <div class="auto-container">
    <div class="inner-container">
    <div class="copyright-text">&copy; Copyright reserved by <a href="/advertising">unity-uae.com</a>
    </div>
    </div>
    </div>
    </div>
    </footer>