<!DOCTYPE html>
<html lang="en">
  <!-- Mirrored from html.kodesolution.com/2024/sotech-html/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 23 Jun 2024 11:04:56 GMT -->
  <head>
    <meta charset="utf-8" />
    <title>
Unity Technologies | Home    </title>

    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
    <link rel="icon" href="/images/favicon.png" type="image/x-icon" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <!--[if lt IE 9]><script src="/js/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="/js/respond.js"></script><![endif]-->
  </head>
  <body>
    <div class="page-wrapper">
      <div class="preloader-technology"></div>

      <%- include('./partials/header.ejs') %>

      <section class="banner-section-five">
        <div class="banner-carousel owl-carousel owl-theme">
          <div class="slide-item">
            <div
              class="bg-image"
              style="background-image: url(images/main-slider/s2-1.jpg)"
            ></div>
            <div class="auto-container">
              <div class="content-box">
                <div class="content-box-inner">
                  <div class="anim-icons bounce-y animate-4">
                    <figure class="image">
                      <img src="/images/main-slider/s2-shape-1.png" alt />
                    </figure>
                  </div>
                  <a
                    href="https://www.youtube.com/watch?v=Fvae8nxzVz4"
                    class="play-btn lightbox-image animate-1"
                    ><i class="icon fa fa-play"></i
                  ></a>
                  <span class="sub-title animate-2">WELCOME TO SOTECH</span>
                  <h1 class="title animate-3">
                    Make Your <br />Business Rocket
                  </h1>
                  <div class="btn-box animate-4">
                    <a href="page-about.html" class="theme-btn btn-style-one"
                      ><span class="btn-title">EXPLORE MORE</span></a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="slide-item">
            <div
              class="bg-image"
              style="background-image: url(images/main-slider/s2-2.jpg)"
            ></div>
            <div class="auto-container">
              <div class="content-box">
                <div class="content-box-inner">
                  <div class="anim-icons bounce-y animate-4">
                    <figure class="image">
                      <img src="/images/main-slider/s2-shape-1.png" alt />
                    </figure>
                  </div>
                  <a
                    href="https://www.youtube.com/watch?v=Fvae8nxzVz4"
                    class="play-btn lightbox-image animate-1"
                    ><i class="icon fa fa-play"></i
                  ></a>
                  <span class="sub-title animate-2">WELCOME TO SOTECH</span>
                  <h1 class="title animate-3">
                    Make Your <br />Business Rocket
                  </h1>
                  <div class="btn-box animate-4">
                    <a href="page-about.html" class="theme-btn btn-style-one"
                      ><span class="btn-title">EXPLORE MORE</span></a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="about-section-three">
        <div class="auto-container">
          <div class="row">
            <div
              class="content-column col-lg-6 col-md-12 col-sm-12 order-lg-1 wow fadeInRight"
              data-wow-delay="600ms"
            >
              <div class="inner-column">
                <div class="sec-title">
                  <span class="sub-title">ABOUT OUR COMPANY</span>
                  <h2>We implement our ideas from Inception to completion.</h2>
                  <h4>
                    The professional approach to technology for the clients.
                  </h4>
                  <div class="text">
                    System is a term used to refer to an organized collection
                    symbols and processes that may be used to operate on such
                    symbols. Perspiciatis omnis natus error voupems accusa
                  </div>
                </div>
                <div class="content-box">
                  <div class="row">
                    <div class="about-block-three col-lg-6 col-md-6 col-sm-12">
                      <h5 class="title">
                        <i class="icon fa fa-arrow-alt-circle-right"></i>
                        Internal Networking
                      </h5>
                      <p class="text">
                        Lorem ipsum dolor sited amet consectetur notted
                      </p>
                    </div>
                    <div class="about-block-three col-lg-6 col-md-6 col-sm-12">
                      <h5 class="title">
                        <i class="icon fa fa-arrow-alt-circle-right"></i> Cloud
                        Based
                      </h5>
                      <p class="text">
                        Lorem ipsum dolor sited amet consectetur notted
                      </p>
                    </div>
                  </div>

                  <div class="skills">
                    <div class="skill-item">
                      <div class="skill-header">
                        <h6 class="skill-title">Satisfied Clients</h6>
                      </div>
                      <div class="skill-bar">
                        <div class="bar-inner">
                          <div class="bar progress-line" data-width="80">
                            <div class="skill-percentage">
                              <div class="count-box">
                                <span
                                  class="count-text"
                                  data-speed="3000"
                                  data-stop="80"
                                  >0</span
                                >%
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="btn-box">
                    <a href="page-about.html" class="theme-btn btn-style-one"
                      ><span class="btn-title">Discover more</span></a
                    >
                  </div>
                </div>
              </div>
            </div>

            <div class="image-column col-lg-6 col-md-12 col-sm-12 order-lg-0">
              <div class="inner-column wow fadeInLeft">
                <figure class="image-1 overlay-anim wow fadeInUp">
                  <img src="/images/resource/about-5.jpg" alt />
                </figure>
                <figure class="image-2 overlay-anim wow fadeInRight">
                  <img src="/images/resource/about-6.jpg" alt />
                </figure>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="services-section-six">
        <div class="anim-icons">
          <span class="icon icon-lines-9-top bounce-x"></span>
          <span class="icon icon-dots-9-top bounce-y"></span>
        </div>
        <div class="auto-container">
          <div class="row">
            <div
              class="sec-title light col-lg-3 col-md-6 col-sm-12 wow fadeInUp"
            >
              <span class="sub-title">What We offer</span>
              <h2>We Provide Full Range Services</h2>
            </div>

            <div
              class="service-block-six col-lg-3 col-md-6 col-sm-6 wow fadeInUp"
              data-wow-delay="400ms"
            >
              <div class="inner-box">
                <div class="icon-box">
                  <i class="icon flaticon-business-012-startup"></i>
                </div>
                <h4 class="title">
                  <a href="page-service-details.html"
                    >Website <br />Development</a
                  >
                </h4>
              </div>
            </div>

            <div
              class="service-block-six col-lg-3 col-md-6 col-sm-6 wow fadeInUp"
              data-wow-delay="800ms"
            >
              <div class="inner-box">
                <div class="icon-box">
                  <i class="icon flaticon-business-010-startup"></i>
                </div>
                <h4 class="title">
                  <a href="page-service-details.html">UI/UX <br />Designing</a>
                </h4>
              </div>
            </div>

            <div
              class="service-block-six col-lg-3 col-md-6 col-sm-6 wow fadeInUp"
              data-wow-delay="1200ms"
            >
              <div class="inner-box">
                <div class="icon-box">
                  <i class="icon flaticon-business-030-settings"></i>
                </div>
                <h4 class="title">
                  <a href="page-service-details.html"
                    >Digital <br />Marketing</a
                  >
                </h4>
              </div>
            </div>

            <div
              class="service-block-six col-lg-3 col-md-6 col-sm-6 wow fadeInUp"
              data-wow-delay="1200ms"
            >
              <div class="inner-box">
                <div class="icon-box">
                  <i class="icon flaticon-business-054-graph"></i>
                </div>
                <h4 class="title">
                  <a href="page-service-details.html">Data <br />Analysis</a>
                </h4>
              </div>
            </div>

            <div
              class="service-block-six col-lg-3 col-md-6 col-sm-6 wow fadeInUp"
              data-wow-delay="1200ms"
            >
              <div class="inner-box">
                <div class="icon-box">
                  <i class="icon flaticon-business-049-presentation"></i>
                </div>
                <h4 class="title">
                  <a href="page-service-details.html"
                    >WordPress <br />Development</a
                  >
                </h4>
              </div>
            </div>

            <div
              class="service-block-six col-lg-3 col-md-6 col-sm-6 wow fadeInUp"
              data-wow-delay="1200ms"
            >
              <div class="inner-box">
                <div class="icon-box">
                  <i class="icon flaticon-business-002-graph"></i>
                </div>
                <h4 class="title">
                  <a href="page-service-details.html"
                    >Search Engine <br />Optimization</a
                  >
                </h4>
              </div>
            </div>

            <div
              class="service-block-six col-lg-3 col-md-6 col-sm-6 wow fadeInUp"
              data-wow-delay="1200ms"
            >
              <div class="inner-box">
                <div class="icon-box">
                  <i class="icon flaticon-business-036-idea"></i>
                </div>
                <h5 class="title">
                  <a href="page-service-details.html">Custom <br />Software</a>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="project-section-three">
        <div class="auto-container">
          <div class="sec-title">
            <div class="row align-items-center">
              <div class="col-lg-7">
                <span class="sub-title">recently Completed work</span>
                <h2>Improve & Enhance the <br />Company Projects</h2>
              </div>
              <div class="col-lg-5">
                <div class="text">
                  We provide a diverse array of systems, each tailored to stream
                  line your operations and enhance productivity. Whether you
                  require assistance with data process automation.
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-outer">
            <div class="project-carousel-three owl-carousel owl-theme">
              <div class="project-block-three">
                <div class="inner-box">
                  <div class="image-box">
                    <figure class="image">
                      <a
                        href="images/resource/project-8.jpg"
                        class="lightbox-image"
                        ><img src="/images/resource/project-8.jpg" alt
                      /></a>
                    </figure>
                    <div class="overlay-box">
                      <a href="page-project-details.html" class="icon"
                        ><i class="fa fa-long-arrow-alt-right"></i
                      ></a>
                      <h4 class="title">
                        <a href="page-project-details.html">Tech Solutions</a>
                      </h4>
                      <span class="cat">DESIGN / IDEAS</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="project-block-three">
                <div class="inner-box">
                  <div class="image-box">
                    <figure class="image">
                      <a
                        href="images/resource/project-9.jpg"
                        class="lightbox-image"
                        ><img src="/images/resource/project-9.jpg" alt
                      /></a>
                    </figure>
                    <div class="overlay-box">
                      <a href="page-project-details.html" class="icon"
                        ><i class="fa fa-long-arrow-alt-right"></i
                      ></a>
                      <h4 class="title">
                        <a href="page-project-details.html">Tech Solutions</a>
                      </h4>
                      <span class="cat">DESIGN / IDEAS</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="project-block-three">
                <div class="inner-box">
                  <div class="image-box">
                    <figure class="image">
                      <a
                        href="images/resource/project-10.jpg"
                        class="lightbox-image"
                        ><img src="/images/resource/project-10.jpg" alt
                      /></a>
                    </figure>
                    <div class="overlay-box">
                      <a href="page-project-details.html" class="icon"
                        ><i class="fa fa-long-arrow-alt-right"></i
                      ></a>
                      <h4 class="title">
                        <a href="page-project-details.html">Tech Solutions</a>
                      </h4>
                      <span class="cat">DESIGN / IDEAS</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="project-block-three">
                <div class="inner-box">
                  <div class="image-box">
                    <figure class="image">
                      <a
                        href="images/resource/project-11.jpg"
                        class="lightbox-image"
                        ><img src="/images/resource/project-11.jpg" alt
                      /></a>
                    </figure>
                    <div class="overlay-box">
                      <a href="page-project-details.html" class="icon"
                        ><i class="fa fa-long-arrow-alt-right"></i
                      ></a>
                      <h4 class="title">
                        <a href="page-project-details.html">Tech Solutions</a>
                      </h4>
                      <span class="cat">DESIGN / IDEAS</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="testimonial-section pt-0">
        <div class="auto-container">
          <div class="sec-title">
            <span class="sub-title">OUR FEEDBACKS</span>
            <h2>
              What They’re Talking<br />
              About Company
            </h2>
          </div>
          <div class="testimonials">
            <div class="swiper-container testimonial-content">
              <div class="swiper-wrapper">
                <div class="testimonial-block swiper-slide">
                  <div class="row">
                    <div class="content-column col-lg-6 col-md-12">
                      <div class="icon-box">
                        <span class="icon icon-quote"></span>
                        <div class="rating">
                          <i class="fa fa-star"></i><i class="fa fa-star"></i
                          ><i class="fa fa-star"></i><i class="fa fa-star"></i
                          ><i class="fa fa-star"></i>
                        </div>
                      </div>
                      <div class="text">
                        We believe in four pillars of influence that drive our
                        growth. This is ingrained in everything we do We use
                        technology to create a better and smarter environment
                      </div>
                      <div class="info-box">
                        <h4 class="name">Mike Hardson</h4>
                        <span class="designation">Senior Designer</span>
                      </div>
                    </div>
                    <div class="image-column col-lg-6 col-md-12">
                      <figure class="image">
                        <img src="/images/resource/testimonial-1.png" alt />
                      </figure>
                    </div>
                  </div>
                </div>

                <div class="testimonial-block swiper-slide">
                  <div class="row">
                    <div class="content-column col-lg-6 col-md-12">
                      <div class="icon-box">
                        <span class="icon icon-quote"></span>
                        <div class="rating">
                          <i class="fa fa-star"></i><i class="fa fa-star"></i
                          ><i class="fa fa-star"></i><i class="fa fa-star"></i
                          ><i class="fa fa-star"></i>
                        </div>
                      </div>
                      <div class="text">
                        We believe in four pillars of influence that drive our
                        growth. This is ingrained in everything we do We use
                        technology to create a better and smarter environment
                      </div>
                      <div class="info-box">
                        <h4 class="name">Jessica Brown</h4>
                        <span class="designation">Senior Designer</span>
                      </div>
                    </div>
                    <div class="image-column col-lg-6 col-md-12">
                      <figure class="image">
                        <img src="/images/resource/testimonial-1.png" alt />
                      </figure>
                    </div>
                  </div>
                </div>

                <div class="testimonial-block swiper-slide">
                  <div class="row">
                    <div class="content-column col-lg-6 col-md-12">
                      <div class="icon-box">
                        <span class="icon icon-quote"></span>
                        <div class="rating">
                          <i class="fa fa-star"></i><i class="fa fa-star"></i
                          ><i class="fa fa-star"></i><i class="fa fa-star"></i
                          ><i class="fa fa-star"></i>
                        </div>
                      </div>
                      <div class="text">
                        We believe in four pillars of influence that drive our
                        growth. This is ingrained in everything we do We use
                        technology to create a better and smarter environment
                      </div>
                      <div class="info-box">
                        <h4 class="name">Jessica Brown</h4>
                        <span class="designation">CEO & Founder</span>
                      </div>
                    </div>
                    <div class="image-column col-lg-6 col-md-12">
                      <figure class="image">
                        <img src="/images/resource/testimonial-1.png" alt />
                      </figure>
                    </div>
                  </div>
                </div>

                <div class="testimonial-pagination"></div>
              </div>
            </div>

            <div class="swiper-container testimonial-thumbs">
              <div class="swiper-wrapper">
                <div class="swiper-slide testimonial-thumb">
                  <figure class="image">
                    <img src="/images/resource/testi-thumb-2.jpg" alt />
                  </figure>
                </div>
                <div class="swiper-slide testimonial-thumb">
                  <figure class="image">
                    <img src="/images/resource/testi-thumb-1.jpg" alt />
                  </figure>
                </div>
                <div class="swiper-slide testimonial-thumb">
                  <figure class="image">
                    <img src="/images/resource/testi-thumb-3.jpg" alt />
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="offer-section-two">
        <div class="auto-container">
          <div class="row">
            <div class="content-column col-lg-6 col-md-12">
              <div class="inner-column">
                <div class="sec-title">
                  <span class="sub-title">Welcome to tech</span>
                  <h2>Your Success with the Best IT Solutions</h2>
                </div>
                <div class="info-box">
                  <span class="count">01</span>
                  <div class="text">
                    We continuously endeavour to deliver our utmost best to
                    customers in our City.
                  </div>
                </div>
                <div class="info-box">
                  <span class="count">02</span>
                  <div class="text">
                    We continuously endeavour to deliver our utmost best to
                    customers in our City.
                  </div>
                </div>
              </div>
            </div>

            <div class="image-column col-lg-6 col-md-12 col-sm-12">
              <div class="inner-column">
                <div class="image-box">
                  <figure class="image">
                    <img src="/images/resource/image-6.jpg" alt />
                  </figure>
                  <div class="video-box wow fadeIn">
                    <h4 class="title">Watch our video</h4>
                    <img
                      class="arrow-icon"
                      src="/images/icons/icon-arrow.png"
                      alt
                    />
                    <a
                      href="https://www.youtube.com/watch?v=Fvae8nxzVz4"
                      class="play-btn lightbox-image"
                      ><i class="icon fa fa-play"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section
        class="fun-fact-section-three style-two"
        style="background-image: url(images/icons/shape-tm-5.png)"
      >
        <div class="auto-container">
          <div class="fact-counter">
            <div class="row">
              <div
                class="counter-block-four col-lg-3 col-md-6 col-sm-12 wow fadeInUp"
              >
                <div class="inner">
                  <i class="icon flaticon-business-060-graph"></i>
                  <div class="count-box">
                    <span class="count-text" data-speed="3000" data-stop="4524"
                      >0</span
                    >
                  </div>
                  <span class="counter-title">Project Complete</span>
                </div>
              </div>

              <div
                class="counter-block-four col-lg-3 col-md-6 col-sm-12 wow fadeInUp"
                data-wow-delay="300ms"
              >
                <div class="inner">
                  <i class="icon flaticon-business-035-helpline"></i>
                  <div class="count-box">
                    <span class="count-text" data-speed="3000" data-stop="1500"
                      >0</span
                    >
                  </div>
                  <span class="counter-title">HAPPY CLIENTS</span>
                </div>
              </div>

              <div
                class="counter-block-four col-lg-3 col-md-6 col-sm-12 wow fadeInUp"
                data-wow-delay="600ms"
              >
                <div class="inner">
                  <i class="icon flaticon-business-020-hierarchy"></i>
                  <div class="count-box">
                    <span class="count-text" data-speed="3000" data-stop="2500"
                      >0</span
                    >
                  </div>
                  <span class="counter-title">AWWORD WINGING</span>
                </div>
              </div>

              <div
                class="counter-block-four col-lg-3 col-md-6 col-sm-12 wow fadeInUp"
                data-wow-delay="900ms"
              >
                <div class="inner">
                  <i class="icon flaticon-business-048-coin"></i>
                  <div class="count-box">
                    <span class="count-text" data-speed="3000" data-stop="1000"
                      >0</span
                    >
                  </div>
                  <span class="counter-title">COMPANY TEAM</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="about-section-nine">
        <div class="auto-container">
          <div class="tabs-box tabs-three">
            <ul class="tab-buttons clearfix">
              <li class="tab-btn" data-tab="#tab1">
                <span class="title">Our Mission</span>
              </li>
              <li class="tab-btn active-btn" data-tab="#tab2">
                <span class="title">Our Vision</span>
              </li>
              <li class="tab-btn" data-tab="#tab3">
                <span class="title">Our History</span>
              </li>
            </ul>
            <div class="tabs-content">
              <div class="tab" id="tab1">
                <div class="row">
                  <div class="blocks-column col-lg-6 col-md-6 col-sm-12">
                    <div class="inner-column">
                      <div class="sec-title">
                        <h2>Our mission is to ensure services</h2>
                        <div class="text">
                          There are many variations of passages of lorem free
                          market to available, but the majority have alteration
                          in some form, by injected humour
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="image-column col-lg-6 col-md-6 col-sm-12">
                    <div class="inner-column">
                      <div class="info-box">
                        <h3 class="title">
                          We have over 10 years of experience
                        </h3>
                        <a href="#" class="read-more">Read More ></a>
                      </div>
                      <div class="image-box">
                        <figure class="image overlay-anim">
                          <img src="/images/resource/work-2.jpg" alt />
                        </figure>
                        <i class="icon flaticon-business-060-graph"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab active-tab" id="tab2">
                <div class="row">
                  <div class="blocks-column col-lg-6 col-md-6 col-sm-12">
                    <div class="inner-column">
                      <div class="feature-block-nine">
                        <div class="inner-box">
                          <i class="icon flaticon-business-011-dollar"></i>
                          <h4 class="title">
                            <a href="page-service-details.html"
                              >Best Business Solution</a
                            >
                          </h4>
                          <div class="text">
                            Lorem ipsum dolor sit consectetur adipiscing elit
                            ullamcorper.
                          </div>
                        </div>
                      </div>

                      <div class="feature-block-nine">
                        <div class="inner-box">
                          <i class="icon flaticon-business-012-startup"></i>
                          <h4 class="title">
                            <a href="page-service-details.html"
                              >Highest Customer Value</a
                            >
                          </h4>
                          <div class="text">
                            Lorem ipsum dolor sit consectetur adipiscing elit
                            ullamcorper.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="image-column col-lg-6 col-md-6 col-sm-12">
                    <div class="inner-column">
                      <div class="info-box">
                        <h3 class="title">
                          We have over 24 years of experience
                        </h3>
                        <a href="#" class="read-more">Read More ></a>
                      </div>
                      <div class="image-box">
                        <figure class="image overlay-anim">
                          <img src="/images/resource/work-2.jpg" alt />
                        </figure>
                        <i class="icon flaticon-business-060-graph"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab" id="tab3">
                <div class="tab-our-history">
                  <div class="row">
                    <div class="image-column col-lg-6 col-md-6 col-sm-12">
                      <div class="inner-column">
                        <div class="image-box">
                          <figure class="image overlay-anim">
                            <img src="/images/resource/work-2.jpg" alt />
                          </figure>
                          <i class="icon flaticon-business-060-graph"></i>
                        </div>
                        <div class="info-box">
                          <h3 class="title">
                            We have over 24 years of experience
                          </h3>
                          <a href="#" class="read-more">Read More ></a>
                        </div>
                      </div>
                    </div>
                    <div class="blocks-column col-lg-6 col-md-6 col-sm-12">
                      <div class="inner-column">
                        <div class="feature-block-nine">
                          <div class="inner-box">
                            <i class="icon flaticon-business-011-dollar"></i>
                            <h4 class="title">
                              <a href="page-service-details.html"
                                >Best Business Solution</a
                              >
                            </h4>
                            <div class="text">
                              Lorem ipsum dolor sit consectetur adipiscing elit
                              ullamcorper.
                            </div>
                          </div>
                        </div>

                        <div class="feature-block-nine">
                          <div class="inner-box">
                            <i class="icon flaticon-business-012-startup"></i>
                            <h4 class="title">
                              <a href="page-service-details.html"
                                >Highest Customer Value</a
                              >
                            </h4>
                            <div class="text">
                              Lorem ipsum dolor sit consectetur adipiscing elit
                              ullamcorper.
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="about-section-four">
        <div class="auto-container">
          <div class="row">
            <div
              class="content-column col-lg-6 col-md-12 col-sm-12 order-lg-2 wow fadeInRight"
              data-wow-delay="600ms"
            >
              <div class="inner-column">
                <div class="sec-title">
                  <span class="sub-title">WHY CHOOSE US</span>
                  <h2>Our goal is ensure to IT Business Services.</h2>
                  <div class="text">
                    With Sotech, we've decided of passages of lorem free market
                    need available, but the majority have alteration in some
                    form, by injected humour, or randomised words
                  </div>
                </div>
                <blockquote class="blockquote-style-one">
                  We possess over 35 years of expertise in Digital Agency
                  Services solutions in town.
                </blockquote>
                <div class="btn-box">
                  <div class>
                    <a href="page-about.html" class="theme-btn btn-style-one"
                      ><span class="btn-title">Discover more</span></a
                    >
                  </div>
                  <div class="founder-info">
                    <div class="thumb">
                      <img src="/images/resource/thumb-1.jpg" alt />
                    </div>
                    <h5 class="name">Jon Martin</h5>
                    <span class="designation">Co Founder</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="image-column col-lg-6 col-md-12 col-sm-12">
              <div class="inner-column wow fadeInLeft">
                <span class="float-text">Sotech</span>
                <figure class="image-1 overlay-anim wow fadeInUp">
                  <img src="/images/resource/about-7.jpg" alt />
                </figure>
                <figure class="image-2 overlay-anim wow fadeInRight">
                  <img src="/images/resource/about-8.jpg" alt />
                </figure>
                <div class="icon-box">
                  <img src="/images/resource/icon-logo-3.png" alt />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>





      <section class="news-section alternate">
        <div class="bg-shape"></div>
        <div class="auto-container">
          <div class="sec-title text-center light">
            <span class="sub-title">from the blog</span>
            <h2>News & Articles</h2>
          </div>
          <div class="row">
            <div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
              <div class="inner-box">
                <div class="image-box">
                  <figure class="image">
                    <a href="news-details.html"
                      ><img src="/images/resource/news-4.jpg" alt
                    /></a>
                  </figure>
                  <span class="date"><b>28</b> OCT</span>
                </div>
                <div class="content-box">
                  <ul class="post-info">
                    <li><i class="fa fa-user"></i> By Admin</li>
                    <li><i class="fa fa-tag"></i> Business</li>
                  </ul>
                  <h3 class="title">
                    <a href="news-details.html"
                      >10 Strategies to Attain Your Business toward Objectives
                      now.</a
                    >
                  </h3>
                </div>
                <div class="bottom-box">
                  <a href="news-details.html" class="read-more"
                    >Read More <i class="fa fa-long-arrow-alt-right"></i
                  ></a>
                  <div class="comments"><i class="fa fa-comments"></i> 05</div>
                </div>
              </div>
            </div>

            <div
              class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp"
              data-wow-delay="300ms"
            >
              <div class="inner-box">
                <div class="image-box">
                  <figure class="image">
                    <a href="news-details.html"
                      ><img src="/images/resource/news-5.jpg" alt
                    /></a>
                  </figure>
                  <span class="date"><b>28</b> OCT</span>
                </div>
                <div class="content-box">
                  <ul class="post-info">
                    <li><i class="fa fa-user"></i> By Admin</li>
                    <li><i class="fa fa-tag"></i> Technology</li>
                  </ul>
                  <h3 class="title">
                    <a href="news-details.html"
                      >Get Approaches to Achieving Your Business Goals today.</a
                    >
                  </h3>
                </div>
                <div class="bottom-box">
                  <a href="news-details.html" class="read-more"
                    >Read More <i class="fa fa-long-arrow-alt-right"></i
                  ></a>
                  <div class="comments"><i class="fa fa-comments"></i> 05</div>
                </div>
              </div>
            </div>

            <div
              class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp"
              data-wow-delay="600ms"
            >
              <div class="inner-box">
                <div class="image-box">
                  <figure class="image">
                    <a href="news-details.html"
                      ><img src="/images/resource/news-6.jpg" alt
                    /></a>
                  </figure>
                  <span class="date"><b>28</b> OCT</span>
                </div>
                <div class="content-box">
                  <ul class="post-info">
                    <li><i class="fa fa-user"></i> By Admin</li>
                    <li><i class="fa fa-tag"></i> Corporate</li>
                  </ul>
                  <h3 class="title">
                    <a href="news-details.html"
                      >10 Paths to Accomplish Your Business Objectives
                      Nowadays.</a
                    >
                  </h3>
                </div>
                <div class="bottom-box">
                  <a href="news-details.html" class="read-more"
                    >Read More <i class="fa fa-long-arrow-alt-right"></i
                  ></a>
                  <div class="comments"><i class="fa fa-comments"></i> 05</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <%- include('./partials/footer.ejs') %>
    </div>

    <div class="scroll-to-top scroll-to-target" data-target="html">
      <span class="fa fa-angle-up"></span>
    </div>
    <script
      data-cfasync="false"
      src="/../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
    ></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.fancybox.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/wow.js"></script>
    <script src="/js/appear.js"></script>
    <script src="/js/select2.min.js"></script>
    <script src="/js/swiper.min.js"></script>
    <script src="/js/owl.js"></script>
    <script src="/js/script.js"></script>
  </body>

  <!-- Mirrored from html.kodesolution.com/2024/sotech-html/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 23 Jun 2024 11:05:05 GMT -->
</html>
